body {
  padding-top: 50px;
  font-family: 'Glegoo';
  font-size: 22px;
}

.section {
    padding: 40px 0px;
    text-align: left;
}

h1 {
    margin: 4% 5% 4% 10%;
    color: #35a380;
    font-size: 40pt;
    text-align: left;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 13pt;
    padding-left: 40px;
    border-left: solid 10px #35a380;
    text-align: left;
}

input {
    width: 50%;
}

input.error, textarea.error {
    font-size: 13pt;
    color: black;
}

textarea {
    width: 100%;
}

.success {
    padding: 20px;
    color: #35a380;
    font-size: 20pt;
}

.error {
    color: #ff3333;
    padding: 20px;
    font-size: 20pt;
}

#result {
    display: none;
}

/* ------------ Start of HOMEPAGE Section ------------ */

.homepage-image {
    background:
        url(/images/bathroom.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.homepage-text {
  padding-top: 1%;
}

.homepage-content {
    margin-left: 10%;
    font-size: 18pt;
    font-style: bold;
    text-align: left;
}

/* ------------ End of HOMEPAGE Section ------------ */

/* ------------ Start of ABOUT Section ------------ */

.about .row {
    padding: 50px;
}

.about .row .odd {
    color: #35a380;
}

/* ------------ End of ABOUT Section ------------ */


/* ------------ Start of GALLERY Section ------------ */

.gallery {
    padding-left: 20px;
    margin-right: 5%;
}

/* ------------ End of GALLERY Section ------------ */

/* ------------ Start of CONTACT Section ------------ */

.contact form {
    padding: 40px 0px 40px 50px;
}

.contact label {
    text-align: right;
}

.contact label.error {
    padding: 5px;
    text-align: left;
    font-size: 13pt;
}



/* ------------ End of CONTACT Section ------------ */




