<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Decorating in Ashford, Kent-South east interiors and exteriors</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <link rel="stylesheet" href="/css/lightbox.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Glegoo"/>


</head>
<body>

<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="nav-home" class="active"><a href="#">Home</a></li>
                    <li id="nav-about"><a href="#about">About</a></li>
                    <li id="nav-gallery"><a href="#gallery">Gallery</a></li>
                    <li id="nav-services"><a href="#services">Services</a></li>
                    <li id="nav-contact"><a href="#contact">Contact</a></li>
                    <li id="nav-reviews"><a href="#reviews">Reviews</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="homepage-image">
        <div class="homepage-text">
            <h1>South East Interiors <br/>and Exteriors</h1>
            <div class="homepage-content">
                <p>Painting, Decorating and Plastering services in
                    <br/> South East Kent and East Sussex.</p>
            </div>
        </div>
    </div>


    <div id="about" class="section">
        <div class="starter-template">
            <h1>About</h1>

            <div class="content about">
                <p>Providing affordable and professional painting, decorating and plastering services in the South East. We
                    are a Kent County Council Trading Standards Approved Company and a proud member of Checkatrade. At South
                    East Interiors and Exteriors we are focused on providing a high-quality professional decorating service,
                    aimed at customer satisfaction - we will do everything we can to meet your expectations. We offer a wide
                    range of interior and exterior services including:
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li class="odd">Painting</li>
                            <li class="even">Decorating</li>
                            <li class="odd">Spraying</li>
                            <li class="even">Wallpapering</li>
                            <li class="odd">Wood staining</li>
                            <li class="even">Plastering</li>
                            <li class="odd">Rendering</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li class="even">Drylining</li>
                            <li class="odd">Artexing</li>
                            <li class="even">Stud wall erection</li>
                            <li class="odd">Property maintenance services</li>
                            <li class="even">Guttering repairs</li>
                            <li class="odd">Full guttering replacement</li>
                            <li class="even">Tiling services</li>
                        </ul>
                    </div>
                </div>


                <p>With a variety of Decorating and Plastering Services to choose from, we're sure you'll be happy working
                    with
                    us. Look around our website and if you have any comments or questions, please feel free to contact us on
                    07860681642
                </p>
            </div>

        </div>
    </div>

    <div id="gallery" class="section">
        <div class="starter-template">
            <h1>Gallery</h1>
            <div class="content gallery">
                <div class="row">
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-1.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-1.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-2.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-2.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-3.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-3.jpg"/>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-4.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-4.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-5.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-5.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-6.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-6-dark-with-text.jpg" />
                        </a>
                        <a data-lightbox="gallery" href="/images/gallery-image-7.jpg"></a>
                        <a data-lightbox="gallery" href="/images/gallery-image-8.jpg"></a>
                        <a data-lightbox="gallery" href="/images/gallery-image-9.jpg"></a>
                        <a data-lightbox="gallery" href="/images/gallery-image-10.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="services" class="section">
        <div class="starter-template">
            <h1>Services</h1>
            <div class="content services">
                <div>See below for a list of services that we provide. All work is carried out to the highest standard and
                    all tradesman are fully qualified.
                </div>

                <hr/>

                <h2 class="toggle" data-toggle="plastering">> Plastering</h2>
                <div id="plastering" class="service-detail">We provide a wide range of plastering services, such as
                    rendering, plasterboarding, stud wall
                    erection-timber and metal frame work, lime plastering, floor screeding, drylining and polished plaster
                    work.
                    <div class="service-images-container">
                        <h3 class="toggle" data-toggle="plastering-images">> Click to see examples of plastering undertaken by us</h3>
                        <div id="plastering-images" class="service-images">
                            <div class="row">
                                <div class="col-md-3">
                                    <a data-lightbox="plastering" href="/images/plastering-image-1.jpg" class="thumbnail">
                                        <img src="/images/plastering-thumbnail-1.jpg"/>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a data-lightbox="plastering" href="/images/plastering-image-2.jpg" class="thumbnail">
                                        <img src="/images/plastering-thumbnail-2.jpg"/>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a data-lightbox="plastering" href="/images/plastering-image-3.jpg" class="thumbnail">
                                        <img src="/images/plastering-thumbnail-3.jpg"/>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a data-lightbox="plastering" href="/images/plastering-image-4.jpg" class="thumbnail">
                                        <img src="/images/plastering-thumbnail-4.jpg"/>
                                    </a>
                                    <a data-lightbox="plastering" href="/images/plastering-image-5.jpg"></a>
                                    <a data-lightbox="plastering" href="/images/plastering-image-6.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <h2 class="toggle" data-toggle="painting">> Painting/Decorating</h2>
                <div id="painting" class="service-detail">We provide a wide range of painting and decorating services such as
                    painting, wallpapering, spraying,
                    wood staining and colour matching. All Interior and Exterior work undertaken.
                    <div class="service-images-container">
                        <h3 class="toggle" data-toggle="painting-images">> Click to see examples of
                            painting undertaken by us</h3>
                        <div id="painting-images" class="service-images">
                            <div class="row">
                                <div class="col-md-3">
                                    <a data-lightbox="painting" href="/images/painting-image-1.jpg" class="thumbnail">
                                        <img src="/images/painting-thumbnail-1.jpg"/>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a data-lightbox="painting" href="/images/painting-image-2.jpg" class="thumbnail">
                                        <img src="/images/painting-thumbnail-2.jpg"/>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a data-lightbox="painting" href="/images/painting-image-3.jpg" class="thumbnail">
                                        <img src="/images/painting-thumbnail-3.jpg"/>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a data-lightbox="painting" href="/images/painting-image-4.jpg" class="thumbnail">
                                        <img src="/images/painting-thumbnail-4.jpg"/>
                                    </a>
                                    <a data-lightbox="painting" href="/images/painting-image-5.jpg"></a>
                                    <a data-lightbox="painting" href="/images/painting-image-6.jpg"></a>
                                    <a data-lightbox="painting" href="/images/painting-image-7.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <h2 class="toggle" data-toggle="maintenance">> Property Maintenance</h2>
                <div id="maintenance" class="service-detail">We also offer property maintenance services such as guttering
                    replacement, tiling, sink changes, work
                    top replacements, restaining of worktops, fencing, felt roofing, small leaks, rendering, brick walls,
                    pointing, small carpentry works and many more.
                    <div class="service-images-container">
                        <h3 class="toggle" data-toggle="maintenance-images">> Click to see examples of
                            maintenance undertaken by us</h3>
                        <div id="maintenance-images" class="service-images">
                            <div class="row">
                                <div class="col-md-3">
                                    <a data-lightbox="maintenance" href="/images/maintenance-image-1.jpg" class="thumbnail">
                                        <img src="/images/maintenance-thumbnail-1.jpg"/>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a data-lightbox="maintenance" href="/images/maintenance-image-2.jpg" class="thumbnail">
                                        <img src="/images/maintenance-thumbnail-2.jpg"/>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a data-lightbox="maintenance" href="/images/maintenance-image-3.jpg" class="thumbnail">
                                        <img src="/images/maintenance-thumbnail-3.jpg"/>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a data-lightbox="maintenance" href="/images/maintenance-image-4.jpg" class="thumbnail">
                                        <img src="/images/maintenance-thumbnail-4.jpg"/>
                                    </a>
                                    <a data-lightbox="maintenance" href="/images/maintenance-image-5.jpg"></a>
                                    <a data-lightbox="maintenance" href="/images/maintenance-image-6.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
            </div>
        </div>
    </div>

    <div id="contact" class="section">
        <div class="starter-template">
            <h1>Contact</h1>
            <div class="content contact">
                <p>For a quote or any queries please call us on 07860681642. Alternatively, fill in the form below with
                    your enquiry and contact details, and one of our team will get in touch. <br/>
                </p>

                <form id="contact-us-form" action="/contact" method="post">
                    <input type="hidden" name="token" th:value="${session.contactToken}"/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Contact Number: **</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="phone" name="phone"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Email address: **</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="email" name="email"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Subject: *</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="subject" name="subject"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Message: *</label>
                        </div>
                        <div class="col-md-8">
                            <textarea id="message" name="message" rows="6"></textarea>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <input id="submit" type="submit" value="Submit"/>
                            <label><img id="contact-loader" src="images/loading.gif"/></label>
                        </div>
                    </div>

                    <br/>
                    <p class="note">* Required field</p>
                    <p class="note">** Please provide at least one contact method (phone or email) to ensure we can contact
                        you.</p>

                </form>

                <div id="contact-result"></div>

            </div>
        </div>
    </div>

    <div id="reviews" class="section">
        <div class="starter-template">
            <h1>Reviews</h1>
            <div class="content">

                <div>"Fanstastic job skimming artexed ceilings and then decorating them after. Quick, Professional and very
                    pleasant, highly recommended."
                </div>
                <div class="review-author">Jon beddard, Ashford kent.</div>
                <br/>
                <div>"Very good job, very clean and friendly. Will use again in the future."</div>
                <div class="review-author">Sarah eastwood, Bickley kent.</div>
                <br/>
                <div>"Hard working, trustworthy, quick and clean job. Very pleased with result. Thanks ross :)"</div>
                <div class="review-author">Maria hales, Ashford kent.</div>
                <br/>

                <form id="review-form" action="/review" method="post">

                    <input type="hidden" name="token" th:value="${session.reviewToken}"/>

                    <h2 class="submit-review">Submit a testimonial</h2>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Name: *</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="name" name="name"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Town: *</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="town" name="town"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label>County: *</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="county" name="county"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Testimonial: *</label>
                        </div>
                        <div class="col-md-8">
                            <textarea id="testimonial" name="testimonial" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <input type="submit" value="Submit"/>
                            <label><img id="review-loader" src="images/loading.gif"/></label>
                        </div>
                    </div>

                    <br/>
                    <p class="note">* Required field</p>

                </form>

                <div id="review-result"></div>

            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                South East Interiors and Exteriors
            </div>
            <div class="col-md-6">
                26 Oxen Lease, Singleton, TN23 4YT, Ashford, Kent, United Kingdom
            </div>
            <div class="col-md-2">
                07860681642
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/js/common.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/form-validation/core.js"></script>
<script src="/js/contact-us.js"></script>
<script src="/js/review-us.js"></script>

</body>

</html>